@import './styles/main.scss';

body {
  margin: 0;
}

.my-room {
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: $mid-grey;
  border: 2px solid $light-grey;
  border-radius: 10px;
  &__mode {
    font-size: 40px;
    margin: 0 auto;
    padding: 20px;
    &--night {
      color: $dark-grey;
    }
    &--day {
      color: $light-grey;
    }
  }
  &__submit {
    width: 25%;
  }
}